#root {
  max-width: 1280vw;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.upload {
  position: relative;
  display: flex;
  justify-content: center;
  flex-grow: 1;

}

.upload-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}


.video {
  flex-grow: 1;
}

.plyr {
  width: 90%;
}
